body {
    width: 100%;
}

.wrapper {
    width: 550px;
    margin: 0 auto;
}

.header {
    height: 100px;
    background-color: #ffff00;
}


.content {
    width: 550px;
    height: 300px;
}

.content-top-left {
    float: left;
    width: 200px;
    height: 150px;
    background-color: #33ffff;
}

.content-top-middle {
    float: left;
    height: 150px;
    width: 175px;
    background-color: #ff0000;
}

.content-top-right {
    float: left;
    height: 150px;
    width: 175px;
    background-color: #0000ff;
}


.content-bottom-right {
    float: left;
    height: 150px;
    width: 450px;
    background-color: #00ff00;
}

.content-bottom-left {
    float: right;
    height: 150px;
    width: 100px;
    background-color: #ff00ff;
}

.footer {
    height: 150px;
    background-color: #33ffff;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

* {
    margin: 0;
    padding: 0;
}