body {
    width: 400px;
}
.wrapper {
    width: 400px;
    margin: 0 auto;

}
.header {
    background-color: #141f40;
    height: 100px;
}
.left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float: left;
}
.right{
    background-color: #8c2727;
    height: 250px;
    width: 250px;
    float: right;
}
.footer {
    background-color: #d98d30;
    height: 100px;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
* {
    margin: 0;
    padding: 0;
}